<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namspace 指定该mapper文件描述的是那个java接口文件
    这里填写的是UserDao接口文件的全类名
-->
<!-- resultType和resultMap区别：如果是只返回一个返回值（String或int）用resultType就行，列名个和实体类不一致，又不起别名，就用resultMap
-->
<mapper namespace="com.qst.mapper.ExamQuestionMapper">
<resultMap id="ExamQuestionMap" type="com.qst.pojo.ExamQuestion">
    <result column="exam_id" property="examId"/>
    <result column="personnel_id" property="studentId"/>
    <result column="question_id" property="questionId"/>
<!--    <result column="answer" property="answer"/>-->
    <result column="score" property="score"/>
</resultMap>
<delete id="deleteByExam">
    delete from  exam_questions where exam_id=#{examId}
</delete>
<insert id="save">
    insert into exam_questions(exam_id,question_id,personnel_id,result,score)
    values(#{examId},#{studentId},#{questionId},#{result},#{score})
</insert>

</mapper>