* {
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}
/* 出错信息 */
.error {
	color: red;
}
/* 提示信息 */
.message {
	color: blue;
}
/* 主菜单 */
.menu {
	padding-left: 5px;
}

ul.menu li {
	list-style: none;
}

ul.menu li a {
	text-decoration: none;
	color: black;
}

/*列表显示数据*/
.grid {
	border-collapse: collapse;
	font-size:15px
}

.grid td.head {
	font-weight: bold;
	text-align: left;
	
}

.grid tr td {
	border: 1px solid gray;
	text-align: left;
	padding: 2px;
}

.left-grid td.head {
	width: 120px;
}

textarea {
	width: 500px;
	height: 60px;
}

a.button {
	text-decoration: none;
}
/*使用table做form的布局*/
form.table table.grid td {
	border-width: 0 !important;
}

div.exam-panel {
	padding: 10px;
}

.exam-panel-cell {
	margin: 5px;
	float: left;
	width:30px;
	height:30px;
	font-color:white;
	
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}